@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Libre+Franklin:wght@400;500&display=swap');

.color-option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block !important;
  border: none;
  position: relative;
}

.color-option::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.color-option.active::after {
  border-color: #0a4874;
}
